@import "@asl/pages";
@import "@asl/projects";

html, body {
  font-size: 100%;
}

.metrics-filters {
  margin-bottom: $govuk-gutter;

  .bpk-input {
    @extend .govuk-input;
    max-width: 200px;
    margin: 0 0.5em;
  }
  .autocomplete__wrapper {
    width: 100%;
    max-width: 400px;
    display: inline-block;
    margin: 0 0.5em;
  }
  .autocomplete__menu {
    position: absolute;
    z-index: 1;
  }
}

@media (min-width: 1260px) {
  .govuk-width-container,
  .wrapper-header,
  .wrapper-footer {
    max-width: 1200px;
  }
}

#ppl-drafting-tool {
  margin-bottom: $govuk-gutter;
}

.page-header {
  margin-bottom: $govuk-gutter;
}

td .govuk-button {
  margin-bottom: 0;
}

.view-all-link {
  margin-top: 36px;
}

.box {
  background: $highlight-colour;
  border: 1px solid govuk-colour('grey-1');
  padding: $govuk-gutter;
  margin-bottom: $govuk-gutter;

  legend {
    float: left;
    margin-bottom: $govuk-gutter;
  }
}

.govuk-table {
  .establishments p,
  .inspector p,
  .spoc p {
    margin: 0;
  }

  .warning {
    background: lighten(govuk-colour('red'), 50%);
    border-right: 3px solid govuk-colour('red');
  }
  th.numeric, td.numeric {
    text-align: right;
  }

}

.deadline-exemption-summary {
  .reason {
    margin-bottom: $govuk-gutter;
  }
}

ul.nts-downloads {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search {
  .search-box {
    margin-bottom: $govuk-gutter-half;

    .govuk-label {
      font-weight: normal;
    }
  }

  .govuk-table td p {
    margin: 0;
  }
  .project-search-result {
    h2 {
      font-weight: normal;
    }

    h2,.search-highlight {
      strong {
        @extend .highlight;
        font-weight: normal;
      }
    }
    .metadata {
      dl {
        margin-bottom: 0;
      }
      dt {
        margin-right: $govuk-gutter / 2;
        font-weight: normal;
      }
      dd {
        margin-bottom: 0;
      }
      dt, dd {
        color: $govuk-secondary-text-colour;
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}

.panel-list .asru-roles ul {
  list-style-type: none;
}
