@import "@asl/pages";
@import "@asl/projects";

@media (min-width: 1260px) {
  .govuk-width-container,
  .wrapper-header,
  .wrapper-footer {
    max-width: 1200px;
  }
}

#ppl-drafting-tool {
  margin-bottom: $govuk-gutter;
}

.page-header {
  margin-bottom: $govuk-gutter;
}

td .govuk-button {
  margin-bottom: 0;
}

.search-panel {
  margin-bottom: $govuk-gutter;
  padding: $govuk-gutter;
  padding-bottom: 0;
  background-color: $blue;

  h2 {
    color: $white;
  }

  ul.search-type {
    padding-inline-start: 0;

    li+li {
      border-left: 1px solid $white;
      padding-left: $govuk-gutter-half;
    };

    li {
      display: inline-block;
      list-style-type: none;
      padding-right: $govuk-gutter-half;

      a:link,
      a:visited,
      a:active {
        color: $white;
      }

      a.active {
        font-weight: bold;
        text-decoration: none;
      }
    }
  }

  .govuk-label {
    color: $white;
  }

  .search-box button {
    background-color: $black;
  }

  .view-all-link {
    height: 40px;
    line-height: 40px;
    margin-left: $govuk-gutter;

    a:link,
    a:visited,
    a:active {
      color: $white;
    }
  }
}

.box {
  background: $highlight-colour;
  border: 1px solid govuk-colour('grey-1');
  padding: $govuk-gutter;
  margin-bottom: $govuk-gutter;

  legend {
    float: left;
    margin-bottom: $govuk-gutter;
  }
}

.asru-roles {
  h3 {
    margin-top: $govuk-gutter;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }
}

.govuk-table {
  .establishments p,
  .inspector p,
  .spoc p {
    margin: 0;
  }

  .warning {
    background: lighten(govuk-colour('red'), 50%);
    border-right: 3px solid govuk-colour('red');
  }
  td.numeric {
    text-align: right;
  }
}

.metric {
  p {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
  }
  padding-bottom: 5px;
  border-bottom: 5px solid $govuk-brand-colour;
  margin-bottom: $govuk-gutter;
}

ul.nts-downloads {
  list-style: none;
  margin: 0;
  padding: 0;
}
